.menu_button {
    border-radius: 30px;
    height: 8vh;
    background-color: rgb(255, 120, 0);
    border: 0px;
    margin-top: 5vh ;
    color: white;
    font-size: 2vh;
    font-weight: bold;
    min-height: 65px; 
}