.center_div{
    position: absolute;
    left: 15%;
    width: 100%;
    height: auto;
    background-color: #282c34;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 5vh;
    /* overflow: auto; */
}