#root {
  min-height: 110svh; 
}

.center_div_fullsize {
    margin: 0 auto;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general_bot_margin {
    margin-bottom: 3vh;
}

.roundbtn {
    border-radius: 100%;
    width: 8vh;
    height: 8vh;
    background-color: grey;
    border: transparent;
    opacity: 0.8;
}

.roundbtn img {
    width: 60%;
    height: auto;
}

.bottomNav {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 3vh;
    z-index: 1000;
    gap: 15vh;
}